[2016-06-01 23:22] ratishphilip opened #1 "Images for CompositionProToolkit"
![maskedvisual](https://cloud.githubusercontent.com/assets/7021835/15728977/0f9f397a-2815-11e6-9df2-65b9ad1f5e9f.PNG)

[2016-06-01 23:23] ratishphilip commented on #1
![maskvisual](https://cloud.githubusercontent.com/assets/7021835/15728986/1baeab9c-2815-11e6-8e93-846b70a2a3ea.gif)

[2016-06-15 18:14] ratishphilip commented on #1
![maskedbackdropbrush](https://cloud.githubusercontent.com/assets/7021835/16091854/562d255c-32ea-11e6-8952-424a513741ea.gif)

[2016-07-01 12:56] ratishphilip commented on #1
![fluidprogressring](https://cloud.githubusercontent.com/assets/7021835/16522118/838f2eec-3f50-11e6-825c-20e07300339c.gif)

[2016-07-15 22:08] ratishphilip commented on #1
![fwp](https://cloud.githubusercontent.com/assets/7021835/16889802/077dc724-4a9e-11e6-8475-7693138f0b39.gif)

[2016-07-15 22:09] ratishphilip commented on #1
![cpt_banner](https://cloud.githubusercontent.com/assets/7021835/16889814/1784ed78-4a9e-11e6-80d0-7c2084d6c960.png)
![cpt_logo_100x100](https://cloud.githubusercontent.com/assets/7021835/16889815/17851c12-4a9e-11e6-87d6-9b00282011b3.png)

[2016-08-08 18:48] ratishphilip commented on #1
![alignment](https://cloud.githubusercontent.com/assets/7021835/17491824/0f3e71ca-5d5e-11e6-805d-368df799d68b.PNG)
![reflectionlocation](https://cloud.githubusercontent.com/assets/7021835/17491821/0f3c2384-5d5e-11e6-9e8e-7b5a196d4ef5.png)
![reflectionmultiplevisuals](https://cloud.githubusercontent.com/assets/7021835/17491823/0f3e67fc-5d5e-11e6-9116-91fb3fb55b83.png)
![reflectionwitheffect](https:

[2016-08-12 14:26] ratishphilip commented on #1
![cif](https://cloud.githubusercontent.com/assets/7021835/17625499/07c82d84-605e-11e6-9b67-592312a9b845.gif)

[2016-08-15 07:39] naweed opened #3 "New feature request for "CompositionImageFrame" control"
Hi,

Firstly, I love your toolkit, and am currently using the fluid progress ring. I would like to request to add the following two features to the "CompositionImageFrame" control:

1) Rounded corners for the images
2) Backdrop/shadow for the image.

Plz check the screenshot below for sample of what I mean. I am currently doing rounded corner image by using a rectangle with rounded corners and set

[2016-08-15 14:09] ratishphilip commented on #3
@naweed thanks for your request.
Let me see if I can incorporate these features in the upcoming version(s).

[2016-08-15 14:22] naweed commented on #3
@ratishphilip Thank you very much for quick response. Plz let me know if you need anything from my side.

[2016-08-17 10:45] naweed commented on #3
Can I also suggest to enable caching of images in this control. Basically, the control should load the image from cache if possible.

I already have the logic which I am applying to Image and ImageBrush, as a dependency injection property. Let me know if you need it and I will share with you.

Thanks.

[2016-08-18 22:11] ratishphilip commented on #1
![cpt7](https://cloud.githubusercontent.com/assets/7021835/17792516/f105a99e-6555-11e6-8a72-b9665baac6cf.gif)

[2016-08-18 22:17] ratishphilip commented on #3
@naweed
**CornerRadius** and **Shadow** features have been added to **CompositionImageFrame**. Check out the details [here](https://wpfspark.wordpress.com/2016/08/18/compositionprotoolkit-v0-4-2-released/).

[2016-08-19 06:19] naweed commented on #3
Thank you very much. Really appreciate it.

From: Ratish Philip [mailto:notifications@github.com]
Sent: Friday, August 19, 2016 01:17 AM
To: ratishphilip/CompositionProToolkit CompositionProToolkit@noreply.github.com
Cc: Naweed Akram naweed@xgeno.com; Mention mention@noreply.github.com
Subject: Re: [ratishphilip/CompositionProToolkit] New feature request for "CompositionImageFrame" control (#3)

@

[2016-08-20 11:03] HanAnonymous opened #4 "Problem with CompositionImageFrame"
I tried to use CompositionImageFrame in my project.. the build was successful, but I get a runtime error.. I don't have any idea how to fix it.. this is the exception message:

[2016-08-20 12:50] ratishphilip commented on #4
Can you please provide more details on this?
Did you add CompositionProToolkit as a NuGet to your project?
Did it also install the Win2d NuGet along with it?

Could you please share how you are using CompositionImageFrame in your code?

[2016-08-20 14:17] Hanzalah-Adalan commented on #4
after I added reference to Win2d and rebuilt the solution, that error has gone! sorry sir I thought that Win2d dependency will get referenced automatically as I install CompositionProToolkit nugget..

Sir just one more question, does CompositionImageFrame support caching like ImageEx https://github.com/wasteam/waslibs/tree/master/src/AppStudio.Uwp/Controls/ImageEx
in AppStudio.Uwp or the newer ver

[2016-08-20 15:02] ratishphilip commented on #4
Well, it is supposed to add a reference to Win2d automatically when you install the CompositionProToolkit NuGet. I tested here on a new blank UWP app. When you add the CompositionProToolkit Nuget it should show the following dialog
![cpt_license](https://cloud.githubusercontent.com/assets/7021835/17831907/506bf8d8-66ab-11e6-8287-68da4c51f913.png)

**ImageCaching** feature is not added to Compositi

[2016-08-21 10:01] Hanzalah-Adalan commented on #4
Oh I see.. thanks sir, really looking forward to it!

[2016-08-21 10:01] #4 closed

[2016-08-21 13:22] HanAnonymous opened #5 "System.ObjectDisposedException: The object has been closed."
Sir it's me again.. this time I got a strange runtime error.. There's a listview in my app's home page.. I loaded 50 items in the listview at a time which looks like this:
![prob 2](https://cloud.githubusercontent.com/assets/9501081/17837382/7eaf4738-67e4-11e6-8fe3-399939ac520d.png)

and as I scroll the listview up and down, my app crashed and throwed this nice little exception:
[code]

The except

[2016-08-21 13:25] Hanzalah-Adalan commented on #5
and it doesn't crash everytime I scroll up and down the listview.. sometimes it crashes sometimes it won't.. that's why I said it was a strange exception..

[2016-08-21 14:06] Hanzalah-Adalan commented on #5
One thing for sure if I scroll too fast using the listview scrollbar (not using mouse wheel) all the way down to the bottom most of the listview item (which in my case the item at index 49), the app will crash and throw that exception

[2016-08-21 14:09] ratishphilip commented on #5
@HanAnonymous
Thanks for reporting this. I have identified the cause of the issue. It will be fixed in the next version.

[2016-08-24 19:26] ratishphilip commented on #1
![cpt_4](https://cloud.githubusercontent.com/assets/7021835/17944760/ec63784a-69f5-11e6-8616-3403fef93063.gif)

[2016-08-24 22:49] ratishphilip commented on #1
![cpt_8_3](https://cloud.githubusercontent.com/assets/7021835/17950778/43912a38-6a12-11e6-8877-7c3bf92da86d.gif)

[2016-08-25 00:24] ratishphilip commented on #3
@naweed
**ImageCaching** feature has now been incorporated into **CompositionImageFrame** and is enabled by default.

[2016-08-25 00:24] #3 closed

[2016-08-25 00:25] ratishphilip commented on #5
@HanAnonymous
The crash issue is now fixed. Please install the latest NuGet package.

[2016-08-25 00:25] #5 closed

[2016-08-25 06:03] Hanzalah-Adalan commented on #5
Thanks for your great effort!

[2016-08-27 14:54] ratishphilip commented on #1
![isurfaces_only](https://cloud.githubusercontent.com/assets/7021835/18028141/644f6f9e-6c2b-11e6-8809-8eb37c9f7b6a.png)

[2016-08-27 14:54] #1 closed

[2016-08-27 15:38] ratishphilip commented on #1
![rendersurfaces](https://cloud.githubusercontent.com/assets/7021835/18028363/a51f2d6a-6c31-11e6-9bcf-fe96d1ca93b6.png)

[2016-08-28 08:16] naweed commented on #3
Hi @ratishphilip
Thanks for all the changes. Really appreciated. They all work as expected.

However, I noticed that using the CompositionImageFrame in a GridView (in fact Composition APIs themselves in GridView) results in horrible performance. I will stay away from using composition in the GridView.

Thanks.

[2016-08-28 15:59] ratishphilip commented on #3
You are welcome @naweed .

Are you on the latest **CompositionProToolkit** (**v0.4.4.1**)?

I tested out **ImageFrame's** in a GridView containing 100+ of them. Their performance was smooth. I tried scrolling fast too. There was no issue.

If you read my latest [blog post](https://wpfspark.wordpress.com/2016/08/27/compositionprotoolkit-v0-4-4-released/) you will know the changes I have made in the

[2016-08-28 17:16] naweed commented on #3
Sure.  Will try that.

Thanks.

Sent from BlueMail

On Aug 28, 2016, 19:00, at 19:00, Ratish Philip notifications@github.com wrote:

[2016-08-30 07:36] naweed commented on #3
Dear @ratishphilip Thanks for the update. I did try with the latest update v0.4.4.1 and using the RenderFast and RenderOptimized. I noticed a few things.

1) The memory usage jumped from 200 MB to 310 MB.
2) The scrolling was not exactly smooth. I tested it on a core i5 with 4 GB RAM and core i7 with 8 GB RAM. Same result. The scrolling was a bit sluggish.
3) The whole page didn't show until all t

[2016-08-30 12:31] ratishphilip commented on #3
Hi @naweed

Did you check with a memory profiler to confirm it was the ImageFrame that was taking the extra memory? Also **RenderOptimized=True** works effectively when the **ImageFrame** size is very small compared to the actual image size. For eg image size is 1280x720 and ImageFrame size is 100x100.
Here you are setting the **HorizontalAlignment** and **VerticalAlignment** as **Stretch**. What

[2016-08-31 16:48] ratishphilip commented on #1
![cptt_2](https://cloud.githubusercontent.com/assets/7021835/18138092/f4c56fe2-6f5f-11e6-9b6c-ea8a0f27ad08.gif)

[2016-08-31 16:49] ratishphilip commented on #1
![cpte_banner](https://cloud.githubusercontent.com/assets/7021835/18138158/41f5d4aa-6f60-11e6-8373-9e1085130bff.png)

[2016-09-01 06:14] naweed commented on #3
Hi @ratishphilip
Sorry for the late reply. Plz see the answers below, and a new issue as well.

1) The actual image size is around 300x450 pixels (example URL: https://walter.trakt.us/images/shows/000/001/390/posters/thumb/93df9cd612.jpg). I am trying to confine it in a container of size 230x340. I am setting the vertical and horizontal alignment to stretch, as the container size is approximately

[2016-09-01 07:12] juanpaexpedite commented on #3
Hello, I am very busy at the moment, but reading and watching this amazing screenshot, I have to say (might be is implemented I do not know) that the shadows are always the same, so might be (of course it must be hard and complicated to develop) can be cached in someway and reused to free memory and processing?

Anyway the effort in this project is amazing the results that is obtaining are awesome

[2016-09-01 16:42] ratishphilip commented on #3
@juanpaexpedite Sharing the shadow seems to be a brilliant idea. How did I miss it? :) Let me find out a way to cache it.

@naweed Is the black bars in top and bottom showing only for that image? or for the control in that position (irrespective of the image). I am pretty sure I have not made any changes to **UniformToFill** in v0.4.5.

Could you send me a link to that image?
Meanwhile I will chec

[2016-09-02 06:58] naweed commented on #3
@ratishphilip This is only happening to 2 or 3 images (out of 100) and irrespective of the position.

This is the URL for the one highlighted in my screenshot:
https://walter.trakt.us/images/shows/000/001/398/posters/thumb/cb506c45bc.jpg

![cb506c45bc](https://cloud.githubusercontent.com/assets/103980/18195376/b9e39328-70f3-11e6-8af7-0e005e2fffda.jpg)

[2016-09-02 11:42] naweed commented on #3
@ratishphilip Btw, I noticed that if I remove the below line, the problem gets resolved. In my case, my actual image size and the container size is more or less same, so I am switching it off for now.

RenderOptimized="True"

[2016-09-02 12:45] ratishphilip commented on #3
RenderOptimized="True" is effective only if you know that
1. your image container size is very small w.r.t. the original image size
2. your container size doesn't change - if it changes, ImageFrame recalculates the best image size that can fit the container and changes the size of its ImageSurface accordingly. If RenderOptimized="False", this overhead does not happen as it is automatically handled

[2016-09-02 13:08] naweed commented on #3
Thanks @ratishphilip

Did that, and it works like a charm now.

[2016-09-02 13:40] ratishphilip commented on #3
@naweed it seems it was a bug afterall.

I reproduced your issue here.
It seems, in **RenderOptimized="True"** mode, the Stretch and alignment properties of Image Options  were not being correctly updated.

Fixed it.

Also, I have now added the option to share shadows among the ImageFrames. With this option enabled, I do see a reduction in memory footprint.

The image options fix along with the op

[2016-09-02 13:46] naweed commented on #3
@ratishphilip
Thank you sir.

Meanwhile, I might request some new controls in future to be added to the library. Basically, I am not good at all with composition APIs, hence these requests.

Thanks for all your help.

[2016-09-02 13:49] ratishphilip commented on #3
Your requests and suggestions are always welcome.

I will try my best to accommodate them.

[2016-09-07 12:07] naweed commented on #5
Hi, Btw, I am on the latest version, and I also notice such issues (app crashing because device is lost or DeviceDispositionException) when I switch between pages multiple times.

[2016-09-07 12:35] naweed commented on #5
To be specific, this is the error I get.

The GPU device instance has been suspended. Use GetDeviceRemovedReason to determine the appropriate action. (Exception from HRESULT: 0x887A0005)

Sometimes, I also get something like System.DeviceDispositionException at Microsoft.Graphics.Canvas... (will update when I see it next time).

[2016-09-07 12:46] ratishphilip commented on #5
@naweed Thanks for the info.
Which all objects (related to CompositionProToolkit) references are you having in your page? Are you disposing them correctly when the Page is unloaded? If they are not, then it might raise such an issue.

Can you step through your page's code (when you switch pages and return to the page raising the exception) and see which line of code is raising this exception?

[2016-09-07 12:54] naweed commented on #5
Hi Ratish, I am using ImageFrame inside a gridview on the page.  I have not written any code for page unloaded. Also I noticed that the memory doesn't get released as I keep navigating from page to page, for all the pages where I have used this control.

Sent from BlueMail

On Sep 7, 2016, 15:46, at 15:46, Ratish Philip notifications@github.com wrote:

[2016-09-07 13:16] ratishphilip commented on #5
ok. I will look into it.

[2016-09-07 14:23] naweed commented on #5
Thanks. Plz let me know if you need anything from my side.

[2016-09-07 18:00] naweed opened #6 "Memory Leak issue with ImageFrame"
Hi @ratishphilip

I have noticed memory leak issue when using ImageFrame. When ImageFrame is used, and I navigate away from the page, to a new page, the GC doesn't seem to collect the previous page. As a result, the memory keeps on increasing. Here is how to simulate:

1) I have a GridView with around 30 items bound via ViewModel. FYI, this issue is not related to x:Bind memory leak, as I have cod

[2016-09-07 18:06] naweed commented on #6
Now, just replace the above image with ImageFrame as below, and on first start, it consumes around 200MB of memory. When navigated to an empty page, the memory comes down to around 190 MB. When again navigated to the first page, the memory jumps to 270 MB. Navigate to empty page and back again, it goes to 344MB. One more time, 418MB. Another one, 491 and it keeps going.

And app becomes very slow

[2016-09-07 18:57] ratishphilip commented on #6
Thanks for reporting this @naweed. I will look into this issue.

[2016-09-08 05:45] naweed commented on #5
@ratishphilip
Further to issue reported yesterday on memory leak (https://github.com/ratishphilip/CompositionProToolkit/issues/6), if I remove the ImageFrame and replace with regular image (code in the memory leak issue), I don't get the device error at all.

[2016-09-08 05:45] naweed commented on #6
Just a suggestion. I am no expert in composition APIs, but I think the composition canvas or surface needs to be removed from VisualTree on Unload event of the control, so that the page can release it.

[2016-09-08 12:47] Hanzalah-Adalan commented on #5
# Lost Devices

When a device is lost, you traditionally need to recreate your graphics device and all of the resources you created with that device. XAML usually handles this for you, but you need to be aware of it when using the Composition APIs.
When can a device be lost? It could be anything from a graphics driver update, to a device that is switching to a different GPU (like with the Surface

[2016-09-08 13:59] ratishphilip commented on #6
Hi @naweed
I have done some changes in ImageFrame to address this issue and need your help to test it.

Could you please download the NuGet package available [here](https://1drv.ms/u/s!ArPgEGGi18XOj9cefKYBMS8wttvCvA) and use it in your application?

You have to add the following changes too
ImageFrame now implements **IDisposable** so now it has a **.Dispose()** method which must be called during

[2016-09-08 14:44] naweed commented on #6
Will try it tomorrow and get back to you.

Thanks.

[2016-09-08 17:44] naweed commented on #6
Tried, and can confirm that this issue is resolved. I did however had to add this code:

`
    public static class VisualTreeHelperExtensions
    {
        public static T GetFirstDescendantOfType<T>(this DependencyObject start) where T : DependencyObject
        {
            return start.GetDescendantsOfType<T>().FirstOrDefault();
        }

[code]

`

[2016-09-08 17:54] ratishphilip commented on #6
Great.
Hey, you need not add the VisualTreeHelperExtensions code. It is already added in CompositionProToolkit.

Just add `using CompositionProToolkit;` to your code.

[2016-09-08 18:15] ratishphilip commented on #5
@Hanzalah-Adalan
ImageFrame and ImageSurface handle lost devices too in a similar way.

[2016-09-08 18:16] ratishphilip commented on #6
Are you facing anymore ObjectDisposedExceptions now?

[2016-09-09 05:26] naweed commented on #6
Nope. Seems to be resolved. Might have been issue with the memory usage, but I am not 100% sure. The device lost event shouldn't be linked to memory usage,

[2016-09-09 05:44] ratishphilip commented on #6
No, I am not linking Device Lost event to memory usage.
Just wanted to know if you were facing any exceptions separately.
Also, could you tell me what kind of Panel have you specified for your GridView?

[2016-09-09 06:17] naweed commented on #6
I am using a custom grid which auto resized the elements to fill the entire width of the screen.

But I also tried with GridView with ItemsGridWrapPanel, and got the same issue.

[2016-09-09 06:21] ratishphilip commented on #6
What I mean to say is that you should use a Panel which supports virtualization. This will help reduce the memory usage. Does your custom grid support virtualization?

[2016-09-09 07:10] naweed commented on #6
I don't think so.

Even though, between using the ImageFrame and regular image in the same panel, the memory difference is huge.

But no worries, I will see how best I can optimize my code.

[2016-09-09 07:10] #6 closed

[2016-09-09 08:29] naweed commented on #6
Thank you for all your great help.

[2016-09-09 13:59] ratishphilip commented on #6
You are welcome.

[2016-09-09 19:11] ratishphilip commented on #1
![frostedglasseffect](https://cloud.githubusercontent.com/assets/7021835/18399591/8953d48c-7686-11e6-848a-f36e0574f1e0.png)

[2016-09-09 19:30] ratishphilip commented on #6
The latest version of CompositionProToolkit is now available in Nuget.

[2016-09-16 09:15] minimalisticMe opened #7 "SplitView Pane not shown"
@ratishphilip first, thank you for this nice toolkit. You answered my question [here](https://github.com/Microsoft/WindowsUIDevLabs/issues/160)

However when trying to implement, I got issues with the `SplitView Pane`.

Assuming the following page called `BlurredMenu`:
[code]
and the corresponding cs-file:
[code]
Does not show anything. The `Pane` is just empty. However changing the `XAML` file to

[2016-09-16 14:03] ratishphilip commented on #7
@minimalisticMe You are using the SplitView incorrectly.

**SplitView.Pane** hosts the menu items. The ImageBloomControl should be placed in the **SplitView.Content**.

Have a look at this [blog](http://blogs.u2u.be/diederik/post/2015/07/14/A-lap-around-the-SplitView-Control.aspx) to understand more about **SplitView**.

[2016-09-16 14:16] minimalisticMe commented on #7
Oh, you're right, I have been using `SplitView` wrong all along.

But putting the `ImageBloomControl` into `SplitView.Content` makes the bloom animation on the content. My intention was to make the bloom animation when I open the `SplitView.Pane`. To animate the opening of the pane as a bloom animation. So in the end my HambugerMenu has a blurred background (similar to the picture [here](https://d

[2016-09-16 18:54] ratishphilip commented on #7
ok. I thought you wanted to animate it in the content.

If you want to animate the pane, then you need to derive a new control template from [SplitView ControlTemplate]()). In this template, you need to add an ImageBloomControl whose Bloom() and Hide() methods should be called based on the Visual state of the SplitView. In order to call the Bloom() and Hide() methods from VisualState transition, y

[2016-09-16 19:31] juanpaexpedite commented on #7
After half an hour to compile (At the end I downloaded CompositionExpressionToolkit and compiled it because I was not able to get from NuGet) I added the whole code about the ImageBloomControl.

Then tested just plug and play, it is curious that it does not appear on the Pane even forcing its size, I will check why is needed the workaround to insert in the template. (because both sections use Chil

[2016-09-16 19:38] ratishphilip commented on #7
@juanpaexpedite

**CompositionExpressionToolkit** was merged with **CompositionProToolkit** in _v0.4.5_.

If you install the latest **CompositionProToolkit** library, you will get all the APIs defined in **CompositionExpressionToolkit** under the **CompositionProToolkit.Expressions** namespace.

**ImageBloomControl** is not part of **CompositionProToolkit** yet. That was just a sample control I cr

[2016-09-16 19:45] ratishphilip commented on #7
@juanpaexpedite
ImageBloomControl will appear in the Pane by making changes to the ControlTemplate of SplitView (as describe in my comment above).

Here is a sample
![bloomsplitview](https://cloud.githubusercontent.com/assets/7021835/18599094/5f709224-7c0b-11e6-8e42-3633507e83fb.gif)

[2016-09-16 19:46] juanpaexpedite commented on #7
Ups, sorry and thank you I was just assuming that was needed. Yes do not worry I copied the ImageBloomControl from your great answer example.

[2016-09-16 19:53] ratishphilip commented on #7
No problem. Glad it was helpful.

[2016-09-17 15:53] minimalisticMe commented on #7
@ratishphilip I'm sorry, now I must back off a little. The most styling I did was modifying `Templates` via Blend and then put them into a resource file and use them in my apps. How would I implement the code behind?

I was putting the long `Style` code into a new `Resource Dictionary File` called Dictionary1.xaml, like I would naturally do. But where does the c# code belong? Putting it into a `Co

[2016-09-17 16:18] ratishphilip commented on #7
@minimalisticMe
You need not derive a new control from SplitView. Just add the new style to your Dictionary1.xaml and use it.
The code which I specified (for **ShowBloom** and **HideBloom**) must be added to the **ImageBloomControl**'s existing code.

Now you can specify the SplitView in your XAML to use the `BloomSplitViewStyle` in the normal way

[code]

[2016-09-17 18:07] minimalisticMe commented on #7
@ratishphilip wow, this is really cool! It works and I will later adapt it to expand from `DisplayMode="CompactInline"`. But for now I have two further questions. You set the image via URI in the `Style` and in the code with

[code]

My questions:
1. How can I set the Image Property `Stretch` to `UniformToFill`? The code now sets it to `Uniform` (default, I guess).
2. Is it possible to pass an Ima

[2016-09-20 18:43] ratishphilip commented on #7
@minimalisticMe
Sorry for the late reply.
1. For this you have to update the **ImageBloomControl**'s code to this

[code]

The **ImageSurfaceOptions** set the options for the **ImageSurface**.

As for question no. 2,  Right now the **ImageSurface** only accepts Uri. Will be adding the feature to accept **byte[]** in future release.

[2016-09-21 07:02] minimalisticMe commented on #7
@ratishphilip thank you very much for the response.

I additionally added the line `imageOptions.HorizontalAlignment = AlignmentX.Left;` to your code. And now am happy to tell you, that everything works fine.

I would love to see **byte[]** to be coming and when I may suggest another improvement:

Automatically check, if the component was re-sized (e.g. due a re-size of the parent window) and then

[2016-09-30 14:52] RareNCool opened #8 "FluidBanner isn't loading all images"
`FluidBanner` will only load 1/5 of the images I give it; if I give it five images, it loads one; if I give it twenty images, it loads 4, etc. If I set `AlignmentX` to `Left`, it will load images on the left, if `Center`, images in the center. The images are not at all interactive.
![banner](https://cloud.githubusercontent.com/assets/9746255/18995820/f832e6ec-86fb-11e6-95dd-1e92e5927bed.PNG)

My X

[2016-09-30 15:51] #8 closed

[2016-11-02 19:27] ashfaq-uddin opened #9 "raising devicelost when the device is not lost"
This API was unexpectedly called when the Direct3D device is not lost.
   at Microsoft.Graphics.Canvas.CanvasDevice.RaiseDeviceLost()
   at CompositionProToolkit.CompositionGenerator.OnDisplayContentsInvalidated(DisplayInformation sender, Object args)

[2016-11-03 00:55] ratishphilip commented on #9
@ashfaq-uddin
Can you please provide more details of your scenario where this happened?

[2016-11-03 04:19] ashfaquddin commented on #9
on a multimonitor setup switch off one monitor and you will get this

[2016-12-27 16:01] ratishphilip commented on #1
![canvasgeometryparser](https://cloud.githubusercontent.com/assets/7021835/21503221/a976448c-cc0a-11e6-8049-1c7c32209e55.jpg)
![canvasgeometryparser_cmds](https://cloud.githubusercontent.com/assets/7021835/21503224/ac140788-cc0a-11e6-8ca1-d88d294d44c1.jpg)

[2017-01-31 20:49] ratishphilip commented on #1
![canvaselement](https://cloud.githubusercontent.com/assets/7021835/22483836/c040e680-e7b3-11e6-9cf4-ca8682610876.png)

[2017-01-31 20:50] ratishphilip commented on #1
[Win2d Mini Language Specification.pdf](https://github.com/ratishphilip/CompositionProToolkit/files/743126/Win2d.Mini.Language.Specification.pdf)

[2017-01-31 20:57] ratishphilip commented on #1
![win2dml](https://cloud.githubusercontent.com/assets/7021835/22484131/e58b0046-e7b4-11e6-8b31-335c57a738f0.png)
![win2dml_commands](https://cloud.githubusercontent.com/assets/7021835/22484130/e58a13c0-e7b4-11e6-8764-1670dc866372.png)

[2017-06-19 19:12] ratishphilip commented on #9
@ashfaq-uddin with the release of **v0.6**, **CompositionProToolkit** now uses the **DeviceLostHelper**.

Could you please check whether this issue is still happening?

[2017-07-13 19:10] ratishphilip commented on #1
![fluidtoggleswitch](https://user-images.githubusercontent.com/7021835/28183439-50d4e274-67c4-11e7-90ff-376b2d7116cf.gif)

[2017-07-13 19:11] ratishphilip commented on #1
![profilecontrol](https://user-images.githubusercontent.com/7021835/28183445-55a7f4b2-67c4-11e7-9d84-5bacbc84efae.gif)

[2017-07-21 05:46] 9110vlado opened #10 "Parsing using other Culture"
Hello,

Thank you, it is a great library, but I have found an issue when SVG path is parsed to CanvasGeometry. When CurrentCulture has other decimal separator than "." (e. g. ",") SVG path is not parsed correctly.

My workaround is:
CultureInfo currentCulture = CultureInfo.CurrentCulture;
            CanvasGeometry icon = null;

            // Temporary parse fix error
            try

[2017-07-21 06:36] ratishphilip commented on #10
According to the [SVG Specification](http://www.w3.org/TR/SVG/paths.html#PathDataGeneralInformation)

So, to conform to this, the parser internally uses Regular Expressions which expect the dot character as the decimal separator.

I'm not fully sure if your workaround will work. However, you can use a similar workaround while constructing the **pathData** i.e. when you convert numbers to string fo

[2017-07-21 09:24] 9110vlado commented on #10
There is not problem with the SVG path, but there is problem with the CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator which is in my case ",".
This decimal separator is used when the SVG path is parsed.

E. g.:

- SVG Path: `M 12,9.5` // MoveTo x:12, y:9.5
- `CurrentCulture `is taken from the OS, in my case it is Slovak culture which decimal separator is ","
- When the SVG path is p

[2017-07-21 15:19] ratishphilip commented on #10
I get your point. Thanks a lot.
The fix will be included in the next update.

[2017-08-05 18:12] AghaKhan opened #11 "The Geometric parser is not working correctly"
To see this problem please create this svg file
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 500 500">
<defs>
	<radialGradient id="ExampleGradient" cx="119.74" cy="818.65" r="473.95" gradientTransform="translate(69.73 -646.3)" gradientUnits="userSpaceOnUse">
      <stop offset="0.09" stop-color="#8e989c"/>
      <stop offset="0.39" stop-color="#6

[2017-08-05 18:15] AghaKhan commented on #11
[example.pdf](https://github.com/ratishphilip/CompositionProToolkit/files/1202583/example.pdf)

[2017-08-07 18:56] ratishphilip commented on #11
Thanks for reporting this. Let me have a look.

[2017-08-07 19:57] AghaKhan commented on #11
Thank you my friend Ratish Philip:
Thank you for sharing code with me.

https://1drv.ms/f/s!AtjIdnVOoJXtluRlhqxfQT3_QUPxrg

When you have time please download my applications.
Please look at TimeMachine.
ThemeClock and double click on it.

Rubik’s cube.

Similar work I would like to do under Win2D.

Best regards
Agha Khan

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

[2017-09-30 15:36] ratishphilip commented on #11
@AghaKhan I had a look at the svg defined in example.pdf file.

It seems that there is an extra line break in the path data which is causing the issue. (after **1-**, see image below)
![svg_error](https://user-images.githubusercontent.com/7021835/31047168-63071ec4-a5ba-11e7-91cb-cb848848a0d8.png)

[2017-09-30 16:18] ratishphilip commented on #9
This issue has been fixed in v0.6.

[2017-09-30 16:18] #9 closed

[2017-09-30 16:18] ratishphilip commented on #11
Closing this as the problem was with the svg data.

[2017-09-30 16:18] #11 closed

[2017-12-12 11:17] jasonwurzel opened #12 "Fluid Wrap Panel: changing the drag "grip" area"
Hi,

you have implemented a very nice library here, congratulations!
One question I have regarding the FluidWrapPanel: In its default implementation, the FluidPointerDragBehavior triggers, no matter where the user clicks on the control. Is there any reasonable possibility, without changing the FluidPointerDragBehavior implementation, to attach the behavior to a child control of the single items, s

[2017-12-19 00:51] ratishphilip commented on #12
Thanks for reporting this issue. Let me check.

[2017-12-20 13:37] jasonwurzel commented on #12
Hi,

I created a PR for this (my first one ever, it was about time :-) )

https://github.com/ratishphilip/CompositionProToolkit/pull/13

I didn't take into account/test the ListViewItem case. But I think it should work.

[2018-01-10 01:28] ratishphilip commented on #12
Hi Jason,

Sorry for the delay in response. I have looked at the issue and found out the cause of this problem.
Though I will be rejecting your pull request, I shall be incorporating the changes you require (in a little different way).

I hope to release the update this week.

Regards,
Ratish

[2018-01-18 14:41] ratishphilip commented on #1
![progressring3d_s](https://user-images.githubusercontent.com/7021835/35103423-a43c0c2c-fc1a-11e7-8d72-6c66b159b837.gif)

[2018-01-18 19:06] ratishphilip commented on #12
Hi @jasonwurzel

This has been fixed in the v0.8 release.
Now it is possible to attach the behavior to a child control of the single items, so the drag operation triggers only if the user clicks on this child control, like a grip.

[2018-01-18 19:06] #12 closed

[2018-01-18 19:07] ratishphilip commented on #10
@9110vlado

This has been fixed in v0.8 release.

[2018-01-18 19:07] #10 closed

[2018-01-19 05:23] jasonwurzel commented on #12
Hey @ratishphilip ,

thanks for the reply. I haven't had time to look into it but I'm curious as to how you implemented/fixed it.

[2018-01-19 05:29] ratishphilip commented on #12
@jasonwurzel I had to rewrite the FluidPointerDragBehavior class and some minor modification in the FluidWrapPanel.
The element to which the behavior is attached will raise the Pointer events, but the position is calculated w.r.t. the ancestor of the element which is also the child of the FluidWrapPanel.

[2018-03-12 05:00] jasonwurzel opened #15 "When resizing FluidWrapPanel: InvalidOperationException: Measure Pass"
Hi,

I'm planning to use your excellent FluidWrapPanel as a Grid with a configurable layout of tiles. I wanted to update to the latest version as until now I was on CompositionProToolkit v. 0.7
Now, when I resize my MainWindow, at a certain size I get the following unhandled exception:

[code]

Messing around with the set child sizes seems to influence the problem, but it does not really help. Als

[2018-03-12 05:09] ratishphilip commented on #15
Hi Michael,

Thanks for reporting this issue. Let me have a look. I shall get back to you.

Regards,
Ratish

[2018-03-15 21:18] GeertvanHorrik opened #16 "Update to 8.0.0 causes crash"
I have an app:

Min: Anniversary Update - 14393
Target: Fall Creators Update - 16299

0.7.0.1 works fine.

Will put my research here.

[2018-03-15 21:29] GeertvanHorrik commented on #16
Funny, looks like I wasn't even using this library (added by default to my apps), yet it causes the app to crash.

I think it's caused because the min version is now set to 16299, which makes it hard to use in combination with mobile :-(

[2018-03-15 21:30] #16 closed

[2018-03-20 17:38] ratishphilip commented on #15
HI @jasonwurzel,

Sorry for the delay in reply.

Setting the **ItemWidth** and **ItemHeight** properties of the **FluidWrapPanel** after setting the children's width and height will fix the crash issue.

So in your **MainPageViewModel** class put your code this way

[code]

I am still looking into the issue why the items are not arranged properly when during the first time.

BTW, I had done a simi

[2018-03-21 04:12] jasonwurzel commented on #15
Hi @ratishphilip,
strange, for me it doesn't fix the problem. Fastest way to reproduce (at least for me) is: start the app, press window maximize => same exception as before.
In the mean time, I will look into your AdaptiveTriggers solution, thanks!

[2018-03-21 04:46] jasonwurzel commented on #15
Ok, I just compared the demo project you mentioned with mine (actually, that is what I started with).
When updating your "TestFWPanel" to the newest CompositionProToolkit, it has the "initial distribution" problem as well.
But: It does not crash on maximize. The biggest differences between your sample and mine seem to be:
- I'm using the FluidWrapPanel as the ItemsPanel of an ItemsControl
- You're

[2018-03-21 18:01] ratishphilip commented on #15
Upon further investigation, I found out the issue. The ItemsWidth and ItemsHeight values which are being set in the MainPageViewModel are not being propogated to the FluidWrapPanel (maybe an issue with the ReactiveAttribute).
So the default ItemWidth and ItemHeight of the FluidWrapPanel are set to 10 which is a relatively low number (I will change it to 100 in the next release). FluidWrapPanel all

[2018-03-21 23:51] ratishphilip commented on #15
@jasonwurzel
I have updated the **TestFWPanel** example in GitHub to fix the _initial distribuition_ issue.

You can find the updated code [here](https://github.com/ratishphilip/TestFWPanel).

[2018-03-30 15:02] touseefbsb opened #17 "appreciation post"
this is just an appreciation post here, brilliant controls and so much powerful composition controls. I was just wondering will you keep adding more features and controls to this library? bcz it seems u really know ur stuff around composition library and I hope u keep maintaining it, if you need any suggestions about new controls ill be happy to suggest some.

[2018-03-30 15:57] ratishphilip commented on #17
Hi @touseefbsb,
Thank you so much for your appreciation.
I do intend to keep maintaining this library and adding new features & controls.

Your suggestions are welcome.

[2018-03-30 18:59] touseefbsb commented on #17
first of all I wanted to discuss with you about the Windows Dev Ui Samples Gallery. I am sure you know about that repo, maintained by Microsoft for composition stuff for uwp apps.the problem I found with that app is even a simple control/feature for example **shyHeader** is very complicated to implement, there is a lot of c# code behind and xaml stuff goes on, which is very specific to exact scena

[2018-03-30 19:29] touseefbsb commented on #17
also the new preview sdk ( just released ) https://blogs.windows.com/buildingapps/2018/03/30/windows-10-sdk-preview-build-17125/
has a lot of new composition apis , maybe you wanna have a look :)

[2018-04-03 08:23] ivanvs opened #18 "Virtualization or Incemental Loading for FluidWrapPanel"
Hi,

Firstly, I would like to thank you for such a great controls.

Secondly, could you tell me if you plan to add virtualization or incremental loading to FluidWrapPanel? If this is not in your plan, could you give me suggestion how that can be added?

[2018-04-18 21:10] ratishphilip commented on #15
Closing this issue.

[2018-04-18 21:10] #15 closed

[2018-08-07 06:28] ratishphilip commented on #1
![fluentcat_clip](https://user-images.githubusercontent.com/7021835/43758259-66cbc522-99d0-11e8-8608-bdd96f8ad703.gif)

[2018-08-07 23:31] ratishphilip commented on #1
![flyout_previous](https://user-images.githubusercontent.com/7021835/43807905-4ef8d996-9a5f-11e8-825e-94ac2bf90ccf.png)

[2018-10-31 17:58] seanocali opened #19 "Conflict with UWP Community Toolkit"
Please see [this](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2629).

[2018-11-01 01:02] ratishphilip commented on #19
Thanks, I will look into it.

[2018-11-01 01:50] ratishphilip commented on #19
@seanocali At the first look it seems like you are using **Windows SDK v17134** and CompositionProToolkit **v0.9** (which requires **Windows SDK v17723**) and it might be the issue.

Could you use CompositionProToolkit **v0.8** (which is based on **Windows SDK v17134**) and see if the issue still persists?

[2018-11-01 03:02] seanocali commented on #19
I tried v0.8 and the issue did not occur so you are correct, thanks. I would try v0.9 with 17723 but I am no longer an insider.

[2018-11-01 11:56] ratishphilip commented on #19
Closing this issue as it is resolved by using v0.8 of CompositionProToolkit.

[2018-11-01 11:56] #19 closed

[2018-11-02 00:49] ratishphilip commented on #17
Closing.

[2018-11-02 00:49] #17 closed

[2018-11-02 00:52] ratishphilip commented on #18
Hi @ivanvs,

Sorry for the late reply.
First of all FluidWrapPanel derives from Panel and not from ItemsControl.
You need to create a control which derives from ItemsControl and implement virtualization in that control and then use the FluidWrapPanel as your ItemsPanel.

[2018-11-02 03:43] seanocali commented on #19
Just an FYI, I joined insider again, installed 1809, and tried v0.9 and it worked.

[2018-11-02 22:10] ivanvs commented on #18
Hi @ratishphilip ,

Thank you for your answer. Sadly, I am not working on that project any more, but I am sure that this will help somebody with similar issue.

[2018-11-02 22:10] #18 closed

[2019-08-25 14:17] mediabuff opened #20 "GetHashedFileNameAsync/ImageCache error checking"
It would help to  check for failure of this when objectToHash to not supported type. Right now the program crashed with no explanation. I had to get the source code version to debug. The program faults with argument null exception.

[2019-08-25 14:27] mediabuff opened #21 "GetCachedUriAsync for 'file' schema"
my images are in network file share with Uri such as 'file://....'. So, caching does'nt work for this. what is the solution. And the images don't get displayed.

[2019-08-26 02:39] ratishphilip commented on #20
thanks for reporting it.
Let me have a look at it.

[2019-08-26 02:40] ratishphilip commented on #21
Let me have a look at it.

[2020-05-21 18:30] ratishphilip commented on #1
<img width="533" alt="RenderSurfaces" src="https://user-images.githubusercontent.com/7021835/82592865-67409580-9b56-11ea-83bd-70e0221d41f2.png">

[2020-05-21 22:39] ratishphilip commented on #1
![GaussianMaskSurface](https://user-images.githubusercontent.com/7021835/82613029-36be2300-9b79-11ea-8117-ccba48b2592a.gif)

[2020-05-28 20:48] ratishphilip commented on #1
![cpt_banner_latest052020](https://user-images.githubusercontent.com/7021835/83192114-f2d39c80-a0e9-11ea-807a-b1e8bb17bcf8.png)

[2020-05-29 00:04] ratishphilip commented on #1
![ImageMaskSurface](https://user-images.githubusercontent.com/7021835/83206234-469faf00-a105-11ea-9ed1-63f975dc2366.gif)

[2020-05-29 02:09] ratishphilip commented on #1
![ColorShadow](https://user-images.githubusercontent.com/7021835/83213331-bb2f1980-a116-11ea-940c-b33f211e1758.gif)

[2020-05-29 02:10] ratishphilip commented on #1
![ImageSurface](https://user-images.githubusercontent.com/7021835/83213392-ddc13280-a116-11ea-97d5-b562a15eac30.gif)

[2020-05-29 02:17] ratishphilip commented on #1
![FluidBanner](https://user-images.githubusercontent.com/7021835/83213752-c9ca0080-a117-11ea-888a-fd1bbb28cfe2.gif)

[2020-05-29 02:30] ratishphilip commented on #1
![FluidToggleSwitch](https://user-images.githubusercontent.com/7021835/83214556-b7e95d00-a119-11ea-8932-12e654542d9c.gif)

[2020-05-29 13:32] ratishphilip commented on #1
![FrostedGlass](https://user-images.githubusercontent.com/7021835/83265262-16442900-a176-11ea-84fe-117bbe976dbe.gif)

[2020-05-29 13:38] ratishphilip commented on #1
![image](https://user-images.githubusercontent.com/7021835/83265869-f6f9cb80-a176-11ea-9d08-2f7976ad8a8c.png)

[2020-05-29 14:38] ratishphilip commented on #1
![Squircle](https://user-images.githubusercontent.com/7021835/83271898-52c85280-a17f-11ea-8c32-46c539bbd4bc.gif)

[2020-05-29 15:10] ratishphilip commented on #1
![image](https://user-images.githubusercontent.com/7021835/83275332-dd12b580-a183-11ea-8254-0bc1a6cd281a.png)

[2020-05-29 17:13] ratishphilip commented on #1
![ColorShadow_vid](https://user-images.githubusercontent.com/7021835/83286581-05ef7680-a195-11ea-930b-c0d699562f3d.png)

[2020-05-29 23:40] ratishphilip commented on #21
ImageFrame in V1.0 no longer uses ImageCache. Providing the Uri should load the image correctly.

[2020-05-29 23:40] #21 closed

[2020-05-29 23:40] ratishphilip commented on #20
ImageFrame in V1.0 no longer uses ImageCache. Providing the Uri should load the image correctly.

[2020-05-29 23:40] #20 closed

[2020-11-13 00:51] seanocali opened #22 "ImageFrame Not Working Without HTTP 'max-age' header"
I couldn't get ImageFrame to work with URI sources to my local http media server, even though the URIs work fine with BitmapImage.UriSource.  Figured out the issue here:
[https://github.com/microsoft/Win2D/issues/796](https://github.com/microsoft/Win2D/issues/796)